@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
}

::-webkit-scrollbar {
    display: none;
}

/*font-family */

.font-manrope {
    font-family: "Manrope", sans-serif;
}

/* gap z-index */
.gap-12 {
    gap: 12px;
}

.gap-32 {
    gap: 32px;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-16 {
    gap: 16px;
}

.gap-20 {
    gap: 20px;
}

.z-20 {
    z-index: 20;
}

.opacity-30 {
    opacity: 30% !important;
}

/* padding-margin */

.py-26 {
    padding-top: 26px;
    padding-bottom: 26px;
}

.ml-28 {
    margin-left: 28px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-125 {
    margin-top: 125px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-83 {
    margin-top: 83px;
}

.mb-49 {
    margin-bottom: 49px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-130 {
    margin-bottom: 130px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-150 {
    margin-bottom: 150px;
}

.mt-32 {
    margin-top: 32px;
}

.-mt-8 {
    margin-top: -8px;
}

.-ml-12 {
    margin-left: -12px;
}

.p-40 {
    padding: 40px;
}

.p-12 {
    padding: 12px;
}

.pr-22 {
    padding-right: 22px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-108 {
    margin-top: 108px;
}

.mt-124 {
    margin-top: 124px;
}

.mt-78 {
    margin-top: 78px;
}

.mt-12 {
    margin-top: 12px;
}

.-mt-3 {
    margin-top: -3px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-60 {
    margin-top: 60px;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.mt-50 {
    margin-top: 50px;
}

.pb-39 {
    padding-bottom: 39px !important;
}

.pb-2px {
    padding-bottom: 2px;
}

/* width-height */

.max-w-702 {
    max-width: 702px;
}

.w-758 {
    width: 758px;
}

.max-w-758 {
    max-width: 758px;
}

.max-w-626 {
    max-width: 626px;
}

.max-w-856 {
    max-width: 856px;
}

.max-w-254 {
    max-width: 254px;
}

.max-w-404 {
    max-width: 404px;
}

.h-53 {
    height: 53px;
}

.h-1 {
    height: 1px;
}

.w-53 {
    width: 53px;
}

.max-w-114 {
    max-width: 114px;
}

.max-w-h-245 {
    max-width: 245px;
    max-height: 245px;
}

.max-w-810 {
    max-width: 810px;
}

.max-w-545 {
    max-width: 545px;
}

.max-w-806 {
    max-width: 806px;
}

.max-w-226 {
    max-width: 226px;
}

.max-w-587 {
    max-width: 587px;
}

.max-w-475 {
    max-width: 475px;
}

.max-h-565 {
    max-height: 565px;
}

.max-w-491 {
    max-width: 491px;
}

.max-w-57 {
    max-width: 57px !important;
}

.max-w-160 {
    max-width: 160px !important;
}

/* section-classes */

.menu {
    border-bottom: 1px solid var(--color-gray-secondry);
    background: var(--color-black-primary);
    backdrop-filter: blur(20px);
}

.hero-sec {
    background-image: url(../src/assets/image/png/Hero-sec-bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-heading {
    transition: all 300ms linear;
}

.nav-heading:hover {
    color: white !important;
}

.nav-heading::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 1.5px;
    background-color: var(--color-white);
    transform: translateX(-50%);
    transition: all 300ms linear;
}

.nav-heading:hover::after {
    width: 100%;
}

.menu-list {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-black);
    transition: all 300ms linear;
    z-index: 10;
}

.close-icon {
    top: 30px;
    right: 50px;
}

.btn-buy {
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 300ms linear;
}

.btn-buy:hover {
    background: transparent;
    box-shadow: inset 0 0 1px 2px var(--color-yellow-primary);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn-buy:hover svg path {
    fill: var(--color-white);
}

.time-box {
    background: linear-gradient(123.75deg, rgba(255, 255, 255, 0.2) 11.04%, rgba(255, 255, 255, 0.02) 87.64%);
    max-width: 818px;
    min-height: 277px;
    border-radius: 20px;
    padding: 1px;
}

.time-box2 {
    background: url(../src/assets/image/png/sclair-layer-img.webp);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.light-line {
    background: linear-gradient(180deg, rgba(255, 246, 36, 0.0222222) 0%, var(--color-yellow-primary) 55%, rgba(255, 246, 36, 0) 100%);
    width: 2px;
    height: 32px;
    opacity: 20%;
}

.border-r-5 {
    border-radius: 5px;
}

#player {
    width: 100%;
    height: 22px;
    position: relative;
    margin: 0 auto;
    top: 15px;
    margin-top: 20px;
}

#volume {
    position: absolute;
    left: 0px;
    margin: 0 auto;
    height: 22px;
    width: 100%;
    background-image: linear-gradient(to right, var(--color-yellow-primary) 50%, var(--color-white) 50%);
    border-radius: 15px;

    .ui-slider-range-min {
        height: 22px;
        width: 100%;
        position: absolute;
        background: var(bg-yellow-primary);
        border: none;
        border-radius: 10px;
        outline: none;
    }

    .ui-slider-handle {
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background: url(./assets/image/png/slider-handle-img.webp);
        position: absolute;
        margin-left: -12px;
        margin-top: -2px;
        cursor: pointer;
        outline: none;
    }
}

.yellow-line {
    top: -30px;
    left: 30%;
}

.white-line {
    top: -30px;
    right: 4%;
}

.end-36 {
    right: -36px;
}

.bottom-40 {
    bottom: -40px;
}

.footer-sec::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background: var(--color-black);
    opacity: 50%;
}

.address-sec {
    background-image: url(../src/assets/image/png/address-sec-bg-layer.webp);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 564px;
    background-position: center;
}

.btn-success {
    --bs-btn-color: ;
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
}

.btn:hover {
    --bs-btn-bg: transparent !important;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    background: transparent;
}

.dropdown-toggle::after {
    display: none !important;
}

.btn:first-child:active {
    background-color: transparent;
    border: none;
}

.dropdown-menu {
    --bs-dropdown-bg: var(--color-black-primary);
    --bs-dropdown-border-color: var(--color-gray-primary);
    backdrop-filter: blur(20px);
    background: var(--color-black-primary);
}

.timing-box {
    background: var(--color-yellow-drak1);
    width: 50px;
    height: 40px;
    border-radius: 4px;
    place-items: center;
}

.left-100 {
    left: -100% !important;
}

.togglemenu {
    width: 30px;
    height: 20px;
    z-index: 15;
}

.togglemenu span {
    background: var(--color-yellow-primary);
    height: 4px;
    left: 0%;
    transition: all 300ms linear;
}

.active-icon .span1 {
    transform: rotate(45deg);
    top: 8px !important;
}

.active-icon .span2 {
    display: none !important;
}

.active-icon .span3 {
    transform: rotate(-45deg);
    top: 8px !important;
}

.input-box {
    border: 1px solid var(--color-gray-drak1);
    max-width: 518px;
    border-radius: 8px;
    padding: 12px;
}

.copy-btn:hover {
    background: var(--color-black);
}

.btn-fill {
    background: transparent;
    padding: 4px 16px;
    border: 2px solid var(--color-yellow-drak);
    border-radius: 6px;
}

.btn-fill:hover {
    background: var(--color-yellow-primary);
    border-color: var(--color-yellow-primary);
    box-shadow: inset 0 0 2px 2px var(--color-white);
}

.token-box {
    border-radius: 16px;
    margin-top: 60px;
}

.border-r-16 {
    border-radius: 16px;
}

.token-box2 {
    padding: 32px 25px;
    background: #FFFFFF0F;
    position: relative;
    margin: 1px;
}

.token-box2::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(96.24deg, rgba(241, 241, 241, 0.24) -31.57%, rgba(241, 241, 241, 0) 125.48%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.circle {
    width: 102px;
    height: 102px;
    background: var(--color-black-dark);
    border-radius: 100%;
    place-items: center;
}

.Secure-bg-img {
    background-image: url(../src/assets/image/png/Secure-sec-bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 854px;
}

.scroll-img {
    /* background: linear-gradient(150.17deg, rgba(255, 246, 36, 0.4) -60.4%, rgba(255, 246, 36, 0) 118.96%); */
    border-radius: 16px;
    max-width: 465px;
    min-height: 179px;
    padding: 1px;
    background: var(--color-gray-drak2);
    position: relative;
}

.scroll-img::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(150.17deg, rgba(255, 246, 36, 0.4) -60.4%, rgba(255, 246, 36, 0) 118.96%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.-translate-middle-y {
    transform: translateY(50%);
}

.wrapper {
    /* background: var(--color-black-dark2); */
    max-width: 465px;
    min-height: 179px;
    border-radius: 16px;
}

.marquee {
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    gap: 32px;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% {
        margin-left: 50px;
    }

    100% {
        margin-left: -1400px;
    }
}

.marquee:hover {
    animation-play-state: paused;
}

.coin-box {
    padding: 23px 36px;
    border-radius: 7.38px;
    place-items: center;
}

.line1 {
    background: var(--color-yellow-primary);
    max-width: 186px;
    height: 2px;
}

.bottom-15 {
    bottom: 15px;
}

.start-15 {
    left: 15px;
}

.end-15 {
    right: 15px;
}

.roadmap {
    background-image: url(../src/assets/image/png/roadmap-bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.phase1 {
    width: 100%;
    border-radius: 16px;
    position: relative;
}

.phase1::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(153.46deg, rgba(255, 246, 36, 0.4) -9.68%, rgba(255, 246, 36, 0) 119.9%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.phase1-box {
    border-radius: 16px;
    background: var(--color-gray-drak2);
    padding: 24px;
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: var(--color-gray-primary);
    margin-left: 10px;
}

.bottom-55 {
    bottom: -55px;
}

.-top-25 {
    top: -25px;
}

.Accordion-sec {
    background-image: url(../src/assets/image/png/Accordion-sec-bg-img.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 1018px;
    margin-top: -70px;
}

.accordion1 {
    border: 1px solid var(--color-gray-drak1) !important;
    background: var(--color-gray-drak2) !important;
    max-width: 800px !important;
    border-radius: 8px !important;
}

.accordion {
    --bs-accordion-bg: transparent !important;
    --bs-accordion-btn-color: var(--color-gray-light1) !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none !important;
    background: transparent !important;
    color: var(--color-white-primary) !important;
    font-weight: 600;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url(../src/assets/image/svg/down-icon.svg);
    background-position: center;
}

.accordion-button::after {
    background-image: url(../src/assets/image/svg/down-icon.svg) !important;
}

.accordion-button {
    padding: 12px !important;
}

.cursor-pointer {
    cursor: pointer;
}


.footer-box {

    border-radius: 8px;
}

.footer-box1 {
    border-radius: 8px;
    padding: 15px;
    position: relative;
    max-width: 840px;
}

.footer-box1 {
    position: relative;
    /* Ensure the parent has a position context for the absolute child */
}

.footer-box1::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(107.74deg, rgba(255, 246, 36, 0.27) -16.6%, rgba(255, 246, 36, 0) 134.64%);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
}

.top-37 {
    top: 37%;
}

.start-47 {
    left: 47%;
}

.insta-icon {
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border: 1px solid var(--color-black-light);
    place-items: center;
    background-color: var(--color-black-dark);
    transition: all 300ms linear;
}

.insta-icon svg {
    transition: all 300ms linear;
}

.insta-icon:hover svg {
    transform: rotateY(180deg);
}

.insta-icon:hover,
.scrolltop:hover {
    background: var(--color-gray-primary);
    box-shadow: inset 0 0 0 2px var(--color-yellow-primary), 0 0 2px 1px var(--color-white);
}

.insta-icon:hover svg path {
    fill: var(--color-yellow-primary);
}

.next-sec {
    right: 32px;
    bottom: 111px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.04) 3.33%, rgba(255, 255, 255, 0) 69.17%);
    border-bottom: 1px solid var(--color-gray-drak3);
    width: 48px;
    height: 60px;
    border-radius: 4px;
    place-items: center;
    transition: all 300ms linear;
}

.end-86 {
    right: -86px;
}

.next-sec:hover {
    box-shadow: 0 0 5px var(--color-white);
}

.top-25 {
    top: 25%;
}

.scrolltop {
    right: 3%;
    bottom: 3%;
    width: 40px;
    height: 40px;
    background: var(--color-yellow-primary);
    border-radius: 100%;
    place-items: center;
    transition: all 300ms linear;
    border: 1px solid var(--color-gray-primary);
    z-index: 5;
}

.scrolltop:hover {
    color: var(--color-white);
    scale: 1.05;
}

.z-50 {
    z-index: 50;
}

.preloader {
    background-image: url(../src/assets/image/png/Hero-sec-bg-img.webp);
    background-size: cover;
    background-repeat: no-repeat;
    animation: 3s preloader linear infinite;
}

@keyframes preloader {
    0% {
        opacity: 100%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 50%;
    }
}

.pre-animation {
    transition: all 300ms linear;
    animation: 3s preanmation linear infinite;
    width: 20%;
}

@keyframes preanmation {
    0% {
        width: 5%;
    }
}






/* media */

@media (max-width:992px) {
    .overflow-lg-max-hidden {
        overflow: hidden;
    }
}

@media (min-width:576px) {
    .mt-sm-100 {
        margin-top: 100px !important;
    }

    .gap-sm-20 {
        gap: 20px !important;
    }

    .mt-sm-130 {
        margin-top: 130px !important;
    }

    .circle {
        width: 132px;
        height: 132px;
        background: var(--color-black-dark);
        border-radius: 100%;
        place-items: center;
    }

    .mt-sm-32 {
        margin-top: 32px;
    }

}

@media (min-width:768px) {
    .p-md-40 {
        padding: 40px !important;
    }

    .scrolltop {
        width: 50px;
        height: 50px;
    }
}

@media (min-width:992px) {
    .menu-list {
        position: unset;
        top: 0%;
        left: 0%;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
    }

    .w-lg-fit {
        width: fit-content !important;
    }

    .top-lg-184 {
        top: 184px;
    }

    .top-lg-78 {
        top: 78px;
    }

    .phase1 {
        max-width: 300px;
    }

    .stoke {
        top: -24px;
    }

    .position-lg-relative {
        position: relative !important;
    }

    .-top-lg-25 {
        top: -25px;
    }

    .mt-lg-108 {
        margin-top: 108px;
    }

    .togglemenu {
        display: none;
    }

    .scrolltop {
        width: 60px;
        height: 60px;
    }
}

@media (min-width:1200px) {
    .stoke {
        top: -68px;
    }

    .container {
        max-width: 1140px !important;
    }

    .Accordion-sec {
        margin-top: -100px;
    }
}

@media (min-width:1400px) {
    .stoke {
        top: -101px;
    }

    .address-sec,
    .Secure-bg-img,
    .Accordion-sec {
        background-size: 100% 100%;
    }

    .Accordion-sec {
        margin-top: -143px;
    }
}