@import url(./root.css);
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
}

/*font-family */

.font-manrope {
    font-family: "Manrope", sans-serif;
}

/* gap z-index */
.gap-12 {
    gap: 12px;
}

.gap-32 {
    gap: 32px;
}

.gap-10 {
    gap: 10px;
}

.z-20 {
    z-index: 20;
}

/* padding-margin */

.py-26 {
    padding-top: 26px;
    padding-bottom: 26px;
}

.ml-28 {
    margin-left: 28px;
}

.mt-150 {
    margin-top: 150px;
}

.mt-16 {
    margin-top: 16px;
}

.mt-32 {
    margin-top: 32px;
}

.-mt-8 {
    margin-top: -8px;
}

.p-40 {
    padding: 40px;
}

.p-12 {
    padding: 12px;
}

.pr-22 {
    padding-right: 22px;
}

.mt-100 {
    margin-top: 100px;
}

.max-w-856 {
    max-width: 856px;
}

.mt-12 {
    margin-top: 12px;
}

/* width-height */

.max-w-702 {
    max-width: 702px;
}

.max-w-254 {
    max-width: 254px;
}

.max-w-404 {
    max-width: 404px;
}

.h-53 {
    height: 53px;
}

.w-53 {
    width: 53px;
}

.max-w-114 {
    max-width: 114px;
}

/* section-classes */

.menu {
    border-bottom: 1px solid var(--color-gray-secondry);
    background: var(--color-black-primary);
    backdrop-filter: blur(20px);
}

.hero-sec {
    background-image: url(../src/assets/image/png/Hero-sec-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cursor-pointer {
    cursor: pointer;
}

.nav-heading {
    transition: all 300ms linear;
}

.nav-heading:hover {
    color: white !important;
}

.nav-heading::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 1.5px;
    background-color: var(--color-white);
    transform: translateX(-50%);
    transition: all 300ms linear;
}

.nav-heading:hover::after {
    width: 100%;
}

.menu-list {
    position: absolute;
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-black);
    transition: all 300ms linear;
}

.btn-buy {
    padding: 12px 24px;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: all 300ms linear;
}

.btn-buy:hover {
    background: transparent;
    box-shadow: inset 0 0 1px 2px var(--color-yellow-primary);
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.btn-buy:hover svg path {
    fill: var(--color-white);
}

.time-box {
    background: linear-gradient(123.75deg, rgba(255, 255, 255, 0.2) 11.04%, rgba(255, 255, 255, 0.02) 87.64%);
    max-width: 818px;
    min-height: 277px;
    border-radius: 20px;
    padding: 1px;
}

.time-box2 {
    background: url(../src/assets/image/png/sclair-layer-img.png);
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

.light-line {
    background: linear-gradient(180deg, rgba(255, 246, 36, 0.0222222) 0%, #FFF624 55%, rgba(255, 246, 36, 0) 100%);
    width: 2px;
    height: 32px;
    opacity: 20%;
}

.border-r-5 {
    border-radius: 5px;
}

#player {
    width: 100%;
    height: 22px;
    position: relative;
    margin: 0 auto;
    top: 15px;
}

#volume {
    position: absolute;
    left: 0px;
    margin: 0 auto;
    height: 22px;
    width: 100%;
    background: var(--color-white);
    border-radius: 15px;

    .ui-slider-range-min {
        height: 22px;
        width: 100%;
        position: absolute;
        background: var(bg-yellow-primary);
        border: none;
        border-radius: 10px;
        outline: none;
    }

    .ui-slider-handle {
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background: url(./assets/image/png/slider-handle-img.png);
        position: absolute;
        margin-left: -12px;
        margin-top: -2px;
        cursor: pointer;
        outline: none;
    }
}

.yellow-line {
    top: -30px;
    left: 30%;
}

.white-line {
    top: -30px;
    right: 4%;
}

.end-36 {
    right: -36px;
}

.address-sec {
    background-image: url(../src/assets/image/png/address-sec-bg-layer.png);
    background-size: cover;
    background-color: var(--color-black);
    background-repeat: no-repeat;
    min-height: 564px;
}

/* media */

@media (min-width:992px) {
    .menu-list {
        position: unset;
        top: 0%;
        left: 0%;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        background-color: transparent;
    }

    .w-lg-fit {
        width: fit-content !important;
    }
}